.search-section {
    width: 100%;
    background-color: #a3937c;
}

.search-wrapper {
    max-width: 960px;
    margin: auto;
    padding: 60px 20px; 
}

.search-section .search-header {
    line-height: normal;
    text-align: center;
    color: white;
    width: 60%;
    margin: auto;
}

.search-section .search-header h1 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 5px;
    font-weight: 700;
    margin-bottom: 15px;
}

.search-section .search-header p {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
}

.search-container {
    margin: auto;
    display: flex;
    justify-content: center;
}

.search-section .search-input {
    width: 80%;
    padding: 10px 30px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    box-sizing: border-box;
    height: 50px;
}

.search-section .search-input:focus {
  outline: none;
  border-color: none;
}

.search-section .search-results {
  padding: 16px;
  background: #fafafa;
  max-width: 960px;
  margin: 1rem auto;
}

.search-section .search-results p {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 16px;
}

.search-section .search-results small {
  display: block;
  margin-top: 4px;
  font-size: 11px;
  color: #666;
  text-transform: uppercase;
}

.search-results .machine-card {
    box-shadow: inset 0 0 2px #b07d3a;
    background-color: #faf9f8;
    color: #b07d3a;
}

@media (max-width: 768px) {
  .search-section .search-header h1 {
    font-size: 1.8rem;
  }
  
  .search-section .search-header p {
    font-size: 0.9rem;
  }
}
