.search-section {
    width: 100%;
}

.search-wrapper {
    /* max-width: 960px; */
    /* margin: auto; */
    padding: 60px 20px; 
    background-color: #a3937c;
    background-image: url(https://www.nespresso.com/shared_res/markets/gr/Images/MachineAssistance/Machine-Assistance-Top-Hero-Desktop.jpg);
    background-position: center;
    background-size: cover;
}

.search-section .search-header {
    max-width: 960px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    line-height: normal;
    text-align: center;
    color: white;
}

.search-section .search-header h1 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 5px;
    font-weight: 700;
    margin-bottom: 15px;

    width: 60%;
}

.search-section .search-header p {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;

    width: 60%;
}

@media (max-width: 768px) {
    .search-section .search-header p {
        width: 90%;
    }

    .search-section .search-header h1 {
        width: 90%;
    }
}

.search-section .search-container {
    max-width: 960px;
    margin: auto;

    margin: auto;
    display: flex;
    justify-content: center;
}

.search-section .search-input {
    width: 80%;
    padding: 10px 30px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    box-sizing: border-box;
    height: 50px;
}

.search-section .search-input:focus {
  outline: none;
  border-color: none;
}

.search-section .search-results {
  padding: 16px;
  background: #fafafa;
  max-width: 960px;
  margin: 1rem auto;
}

.search-section .search-results p {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 16px;
}

.search-results-field-text {
    color: #454547;
    display: flex;
    align-items: center;
    justify-self: center;
}

.search-query-wrapper {
    display: flex;
    align-items: center;
    margin-left: 20px;
    background-color: #e2e2e2;
    padding: 5px 15px 5px 20px;
    border-radius: 100px;
    color: #000000;
    font-weight: 400;
}

.remove-search-button {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove-search-button svg {
    width: 15px;
    height: 15px;
}

.search-section .search-results small {
  display: block;
  margin-top: 4px;
  font-size: 11px;
  color: #666;
  text-transform: uppercase;
}

.search-results .machine-card {
    box-shadow: inset 0 0 2px #b07d3a;
    background-color: #faf9f8;
    color: #b07d3a;
}

@media (max-width: 768px) {
  .search-section .search-header h1 {
    font-size: 1.8rem;
  }
  
  .search-section .search-header p {
    font-size: 0.9rem;
  }
}
